@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --cabecalho: #b9ffff;
    --cor-de-fundo: #daffff;
    --cor-de-texto: rgb(0, 0, 0);
    --cor-de-borda: rgb(0, 0, 0);
}

body {
    font-family: "Lexend", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: var(--cor-de-fundo);
}

header {
    background-color: var(--cabecalho);
    color: var(--cor-de-texto);
    padding: 20px 0;
    text-align: center;
    color: var(--cor-de-texto);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
    color: var(--cor-de-texto);
}

section {
    margin-bottom: 40px;
    font-size: large;
}

section h2 {
    color: var(--cor-de-texto);
    border-bottom: 5px solid var(--cor-de-borda);
    padding-bottom: 10px;
}

img{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.imagem{
    text-align: center;
}

.meg{
    max-width: 100px;
    max-height: 100px;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botões {
    display: flex;
    justify-content: space-between;
}

.botões {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descrição__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descrição__titulo-livro {
    color: var(--vermelho);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto {
    font-size: 14px;
}

.botões__item {
    margin: 0 0.5em;
}

.botões__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .descrição__titulo {
        font-size: 32px;
    }

    .descrição__texto {
        font-size: 16px;
    }

    .descrição {
        margin-right: 2em;
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }

}