@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --cabecalho: #a7ffff;
    --cor-de-fundo: #daffff;
    --cor-de-texto: rgb(0, 0, 0);
    --cor-de-borda: rgb(0, 0, 0);
}

body {
    font-family: "Lexend", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: var(--cor-de-fundo);
}

header {
    background-color: var(--cabecalho);
    color: var(--cor-de-texto);
    padding: 20px 0;
    text-align: center;
    color: var(--cor-de-texto);
}

main {
    padding: 20px;
    color: var(--cor-de-texto);
}

section {
    margin-bottom: 40px;
    font-size: large;
}

section h2 {
    color: var(--cor-de-texto);
    border-bottom: 5px solid var(--cor-de-borda);
    padding-bottom: 10px;
}

img{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.imagem{
    text-align: center;
}

.meg{
    max-width: 50px;
    max-height: 50px;
}